<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <mat-toolbar class="header">
      <h3 class="headline">
        <img src="assets/logo.png">
          Döviz Hesaplayıcısı
      </h3>
    </mat-toolbar>
    <form #form="ngForm">
    <div class="placing">
      <div class="boxes">
        <p class="textFont">Kaynak döviz kodu:</p>
        <app-search name="search" (onUpdate) ="onUpdateFirstCurr($event)"></app-search>
      </div>
      <div class="boxes">
        <p class="textFont">Hedef döviz kodu:</p>
        <app-search name="search2" (onUpdate) ="onUpdateSecondCurr($event)"></app-search>
      </div>
      <div class="boxes">
        <p class="textFont">Para miktarı:</p><br/>
        <mat-form-field>
          <mat-label>Tutar</mat-label>
          <input matInput  name="moneyInput" [(ngModel)]="moneyAmount" placeholder="100" type="number" step="10" min="0" required >
        </mat-form-field><br>
        <p>
        </p>
      </div>
      <div id = "buttonDiv">
      <button mat-flat-button id="button" type="submit" (click)="form&&form.valid&&getRes()" class="w-100 hover-shadow" >Hesapla</button>
    </div>
    </div>
  </form>
  <div id="secondDiv">
      <h1 id = "amount">Para Miktarı: {{ amount }} {{ currency }}</h1>
      <!-- <h1>{{ myData?.Data.Currency.SaleAmount }}</h1> -->
      </div>
</body>
</html>